Signed in as @
= current_user.username
%br

%div#messages
%br

= form_for :message, url: messages_path, remote: true, id: 'messages-form' do |f|
  = f.label :body, 'Enter a message:'
  %br
  = f.text_field :body
  %br
  = f.submit 'Send message'