%h1 My pets
%table.table
  %tr
    %th Name
    %th Date of birth
    %th{:colspan => "3"} Options
    %th Life time

  - current_user.pets.each do |pet|
    %tr
      %td= pet.name
      %td= pet.date_of_birth
      %td= link_to 'Show', pet, class: 'btn btn-primary btn-sm'
      %td= link_to 'Edit', edit_pet_path(pet), class: 'btn btn-warning btn-sm'
      %td= link_to 'Remove', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
      %td= "Today I have " + pluralize(pet.life_time, 'day')
%br/
= link_to 'Add New Pet', new_pet_path, class: 'btn btn-success'
