= simple_form_for(event, html: { class: 'form-horizontal' }) do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.input :date, :as => :date_picker
  = f.input :time, :as => :time_picker
  = f.input :pet_id, collection: current_user.pets, include_blank: false
  = f.button :submit
