%h1 List of nice places

%table.table.table-bordered
  %thead
    %tr
      %th Street
      %th City
      %th Country
      %th Options
      %th Visited?

  %tbody
    - places.each do |place|
      %tr
        %td= place.street
        %td= place.city
        %td= place.country
        %td= link_to 'Show details', place, class: 'btn btn-success btn-sm'
        %td= place.visited_state(current_user.id)
%br
- if current_user.has_premium_account?
  = link_to 'Add new place', new_place_path, class: 'btn btn-success btn-sm'
