%h1 Listing places

%table
  %thead
    %tr
      %th Street
      %th City
      %th Country
      %th 
      %th
      %th
      %th Visited?
      
  %tbody
    - places.each do |place|
      %tr
        %td= place.street
        %td= place.city
        %td= place.country
        %td= link_to 'Show', place
        %td= link_to 'Edit', edit_place_path(place)
        %td= link_to 'Destroy', place, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= place.visited_state(current_user.id)
%br

= link_to 'New Place', new_place_path
