.col-md-3
  %h3= place.name

  %p
    %b Street:
    = place.street
  %p
    %b City:
    = place.city
  %p
    %b Country:
    = place.country
  %p
    %b Description:
    = place.description

  = link_to 'Add to visited', add_to_visited_place_path, method: :post, class: 'btn btn-primary btn-lg'
  %br/

.col-md-9
  %h3 Map:
  %div{:style => "width: 600px;"}
    #map{:style => "width: 600px; height: 400px;"}
    = render 'places/maps'
