.navbar
  .container
    %ul
      - if user_signed_in?
        %li.navbar-btn= link_to 'calendar', calendar_path
        %li.navbar-btn= link_to 'new event', new_event_path
        %li.navbar-btn= link_to 'my pets', pets_path
        %li.navbar-btn= link_to 'places', places_path
        %li.navbar-btn= link_to "Hello, #{current_user.email}", edit_user_registration_path
        %li.navbar-btn= link_to 'sign out', destroy_user_session_path, method: :delete
      - else
        %li.navbar-btn= link_to 'sign in', new_user_session_path
        %li.navbar-btn= link_to 'sign up', new_user_registration_path
